/* Estilos de las car de los usuarios */
.carUser{
    border: 1px solid black;
    text-align: center;
    height: 20rem;
    width: 22rem;
    box-shadow: 4px 4px 3px 3px rgba(177, 187, 199, 0.507);
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    margin: auto;
}


.bx-user-circle{
    font-size: 4rem;
    background-color: rgba(116, 154, 216, 0.486);
    border-radius: 100%;
}

.carUser-formulario{
    width: 100%;
    margin: auto;
}

.carUser-datos{
    position: relative;
    margin: 0.9rem;
}

.carUser-formulario input{
    background: none;
    font-size: 1.25rem;
    padding: 2px 2px 2px 1px;
    border: none;
    border-bottom: 1px solid rgb(70, 0, 182);
    display: block;
    width: 100%;
}

#contenido-gestion{
    padding-top: 1rem;
}

.carUser-modificar button{
    margin: 0.5rem 1rem 1rem 1rem;

}

.tablaUsuarios table{
    margin:auto;
}

.botonCarUser{
transition-duration: 0.4s;
cursor: pointer;
background-color: #2d84e7;
color: white;
}

.botonCarUser:hover{
    background-color: #355baf; 
}