.productoTitulo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}
table, th, td {    
margin: 25px; 
border:2px solid gray;
border-collapse: collapse;
text-align: center;
}
body{
    overflow-y: hidden; /*Modificar para el siguiente sprint*/
}
#contenido__producto{
    height:100vh;
    background-color:#ededed;
    overflow: hidden;
}

th, td {padding: 20px; 
width: 220px;
color:black;

}

.botoness{
text-align: center;
border-radius: 5px;
width:100px;
height: 35px;
margin-left: 15px;
transition-duration: 0.4s;
cursor: pointer;
background-color: #2d84e7;
color: white;
}

 input.botoness:hover{
background-color: #355baf; 

 }

 input.datos{
 text-align: center;
 border-radius: 5px;
 width:250px;
 height: 30px;
 margin-bottom: 12px;
 }

 select.multi{
 text-align: center;
 border-radius: 5px;
 width: 252px;
 height: 30px;
 margin-bottom: 12px;
 border:solid 2px;

 }

 .Titulo-producto{
     font-size: 35px;
 }
