*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aca ira todo lo relacionado con los eltilos del formulario*/
.registroCaja{
    background-image: url("imagenes/fondoRegistro2.jpg");
    height: 100vh;
}

.formularioTitulo{
    text-align: center;
    font-size: 1.85rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.formularioRegistro{
    margin: auto;
    flex-direction: column;
    height: 75vh;
    width: 50vh;
    border-radius: 10px;
    background-color: #1c6fad;
}

.formularioRegistro label{
    display: block;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    font-size: 1.2rem;
    color: black;
}

.formularioRegistro-caja{
    text-align: center;
    
}

.formularioRegistro-caja input{
    background-color:#ededed;
    width:250px;
    height: 30px;
    font-size: 1.25rem;
    border-radius:5px;
    border-color: black;
}


.formularioRegistro select{
    flex-direction: column;
    margin: auto;
    display: block;
    width: 150px;
    height: 25px;
    text-align: center;
    border-radius: 5px;
    padding: 0px;
}



.botonRegistrar {
    
    height: 30px;
    width: 120px;
    margin-left: 35px;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    align-items: center;
    

}

.botonRegistrar:hover{
    background-color: gray;


}


















/*Esto de aca abajo no uqiere fucionar*/
.formularioRegistro{
    display: flex;
    margin: auto;
}