*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Aca ira todo lo relacionado con los eltilos del formulario*/
.registroCaja{
    background-image: url("imagenes/fondoRegistro2.jpg");
    height: 100vh;
}

.formularioTitulo{
    text-align: center;
    font-size: 1.85rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.formularioRegistro{
    margin: auto;
    flex-direction: column;
    height: 68vh;
    width: 40vh;
    border-radius: 30px;
    background-color: #1c6fad;
}

.formularioRegistro label{
    display: block;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    font-size: 1.2rem;
    color: white;
}

.formularioRegistro-caja{
    text-align: center;
}

.formularioRegistro-caja input{
    background-color:#ededed;
    width:80%;
    font-size: 1.25rem;
    border-radius:12px 5px 12px 5px;
    border: 0;
}


.formularioRegistro select{
    flex-direction: column;
    margin: auto;
    display: block;
}

.botonRegistrar{
    text-align: center;
    margin: auto;
    padding-top: 1rem;
}

.botonRegistrar span{
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: #ededed;
    color: rgb(0, 25, 136);
}

















/*Esto de aca abajo no uqiere fucionar*/
.formularioRegistro{
    display: flex;
    margin: auto;
}